/* Stylish scrollbar */
.stylish-scroll::-webkit-scrollbar {
  height: 5px; /* horizontal scrollbar height */
}

.stylish-scroll::-webkit-scrollbar-track {
  background: lightgray; /* track background */
}

.stylish-scroll::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 9999px; /* full rounded */
}

.stylish-scroll::-webkit-scrollbar-thumb:hover {
  background: gray;
}

html {
  scroll-behavior: smooth;
}
/* Add this to your global CSS file or in a <style> tag */

.fade-in-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.2s ease-out forwards 0.8s; /* smoother ease, slightly longer duration, shorter delay */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    opacity: 0.8;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



