@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
body {
  font-family: "Outfit", sans-serif;
}
.app {
  max-width: 80%;
  margin: auto;
}


@media only screen and (max-width: 500px) {
.app {
  max-width: 90%;

}
}